
.w3-border{
    border-style: dotted;
}
.w3-border-left{
    border-left-style: inset;
}
.w3-container{
    border-left-style: groove;
}
.w3-border-right
{
    border-right-style:double;
}
.w3-border-top{
    border-top-style: dashed;
}
.w3-border-bottom{
    border-bottom-style: double;
}

.w3-border{
    border-style: dashed;
}